.form-div-space{
	margin-top : 1%;
}

.tr-even{
	background-color : #fff !important;
}

.loading-img{
	width : 100px;
}

.action-icon{
	cursor : pointer;
}

.linha-resultado{
	cursor : pointer;
}

.linha-resultado:hover{
	background-color : #e0e0e0 !important;
	border-left : solid 5px #2f333e;
}

.lista-msg{
	list-style: none;
	text-decoration: none;
}